# Environment variables
.env
.env.local
.env.development
.env.production
dev.db.env

# Vercel + Next.js + Node
.vercel
node_modules/
.next/
dist/
out/

# Misc
forgetomorrow-deploy.zip

# Ignore helper scripts
*.bat